<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Weather Forecast App{% endblock %}</title>
        <style>
            html, body {
                height: 100%;
            }

            body {
                background: #333;
                font-family: Verdana, sans-serif;
                font-size: 16px;
                margin: 0;
            }

            form * div {
                margin-top: 1em;
            }

            label {
                display: block;
            }

            .container {
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
