{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if averageTemp %}
            <div class="temp-result">
                {{ averageTemp ? 'Average temperature of the location is: '|trans ~ averageTemp : null }}
            </div>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %}